.navbar {
  -webkit-box-shadow: 0 1px 4px #ccc;
  -moz-box-shadow: 0 1px 4px #ccc;
  box-shadow: 0 1px 4px #ccc;
}

body {
  padding-top: 70px;
  padding-bottom: 50px;
}

footer {
  width: 100%;
  padding: 10px;
  position: fixed;
  background-color: #ffffff;
  display: block;
  bottom: 0px;
  -webkit-box-shadow: 0 -1px 4px #ccc;
  -moz-box-shadow: 0 -1px 4px #ccc;
  box-shadow: 0 -1px 4px #ccc;
}

tr.clickable-row {
  cursor: pointer;
}

tr.clickable-row:hover {
  background-color: #428bca;
  color: #ffffff;
}

tr.clickable-row:hover .text-muted {
  background-color: #428bca;
  color: #eee;
}

.table-classifieds, .table-alerts, .table-users {
  color: #333;
}

.table-alerts th.id {
  width: 10%;
}

.table-classifieds a,
.table-alerts a,
.table-users a {
  text-decoration: none;
  color: #333;
}

.table-classifieds td a {
  display: inline-block;
  height: 90px;
  max-height: 90px;
  width: 100%;
}

.table-classifiedsearches td a {
  display: inline-block;
  /*height: 60px;*/
  /*max-height: 60px;*/
  width: 100%;
}

.table-users td a {
  display: inline-block;
  width: 100%;
}

.table-classifieds tr:hover td,
.table-alerts tr:hover td,
.table-users tr:hover td {
  background-color: #428bca;
  color: #ffffff;
  text-decoration: none;
  cursor: hand;
}

.table-alerts {
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

table .url {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table .url {
  overflow: visible;
}

.table-classifieds tr:hover td a,
.table-alerts tr:hover td a,
.table-users tr:hover td a {
  background-color: #428bca;
  color: #ffffff;
  text-decoration: none;
  cursor: hand;
}

.table-classifieds img {
  height: 90px;
  width: auto;
}

.block-ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.image-pola {
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  padding: 3px;
}

.block {
  display: block;
}

.toRight {
  position: relative;
  float: right;
  right: 0px;
}

.s2ui_hidden_button {
  float: right;
  height: 0;
  left: 1px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 0;
  z-index: -1000;
  border: 0;
  background: white;
}

.margin20 {
  margin: 20px;
}

.margin10 {
  margin: 10px;
}

.padding20 {
  margin: 20px;
}

.padding10 {
  margin: 10px;
}

.paddingleft10 {
  padding-left: 10px;
}

.paddingright10 {
  padding-right: 10px;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.panel-heading h1 {
  font-size: 30px;
}

.error-details {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.line {
  display: block;
}

.text-white {
  color: #fff;
}

.text-lightgray {
  color: #d3d3d3;
}

.small {
  font-size: 80%;
}

.xsmall {
  font-size: 70%;
}

.xxsmall {
  font-size: 60%;
}

.large {
  font-size: 120%;
}

.xlarge {
  font-size: 140%;
}

.xxlarge {
  font-size: 180%;
}